
$line-height-base:            1.15;
.bg-dark {
    background: linear-gradient(180deg, rgba(20,20,20,1) 0%, rgba(10,10,10,1) 15%, rgba(109,109,109,1) 25%, rgba(109,109,109,1) 31%, rgba(20,20,20,1) 56%, rgba(38,38,38,1) 75%, rgba(4,4,4,1) 100%);}
    $enable-responsive-font-sizes: true; 
    
    :root{ 
        --respurp:#280A43
    }

    .btn-res {
        color: silver;
        background-color: var(--respurp);
        border-color: var(--respurp);
    }
@import "node_modules/bootstrap/scss/bootstrap";

